<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('seo') %>

  <% if(_production){ %>
  <link rel="stylesheet" href="<%- page.srcfix %>css/bundle.css">
  <% }else{ %>
  <link rel="stylesheet" href="<%- page.srcfix %>css/fontawsome.css">
  <link rel="stylesheet" href="<%- page.srcfix %>css/tailwind.css">
  <link rel="stylesheet" href="<%- page.srcfix %>css/main.css">
  <% }%>
</head>

<body>
  <%- include("navbar",{ navdata : site.data.sitedata.navdata }) %>
  <%- body %>
  <%- include("footer") %>
  
  <% if(_production){ %>
  <script src="<%- page.srcfix %>js/bundle.js"></script>
  <% }else{ %>
  <script src="<%- page.srcfix %>js/alpine.js"></script>
  <script src="<%- page.srcfix %>js/main.js"></script>
  <% }%>
</body>

</html>