---
{
"title":"Cardiac Evaluvation"
}
---

<main>
  <div
    class="py-32 px-4 bg-gradient-to-b from-white to bg-primary-100 [clip-path:polygon(0_0,100%_0,100%_90%,0_100%);]">
    <h1 class="font-bold md:text-4xl text-3xl text-center">Cardiac Evaluvation - ECG and 2D-ECO</h1>
  </div>
  <section class="theame-container py-4 overflow-hidden">
    <div class="grid space-y-5 md:grid-cols-2 md:space-y-0">
      <div>
        <img src="<%- page.srcfix %>img/xray-room.jpg" alt="" class="rounded-3xl w-full max-w-sm mx-auto shadow-xl">
        <p class="max-w-sm mx-auto text-center text-amber-600 font-bold mt-2">Ultrasonic Machin</p>
      </div>
      <div class="space-y-2">
        <p>
          Mahavir Diagnostic Centre &
          Interventional Radiology Clinic is a centre run by Jain doctors with latest
          diagnostic equipment that offers radiology services managed and headed by radiologist & pathologist who
          report the scans blood tests themselves and interact with you AND YOUR DOCTOR to facilitate quick
          treatment and management.
        </p>
        </p>
        Being a centre owned and run by the doctor themselves they know the importance of accurate and fast
        diagnosis with quick reports to the patient. As regards to corporate our work is ethical and focussed entirely
        on
        providing optimal diagnosis with sympathy towards our patient. Here the patients get opportunity to
        interact and discuss the reports with the doctors for clearer
        insight regarding their illness.
        </p>
      </div>
    </div>
  </section>
  <section class="theame-container py-4 mt-5">
    <div class="grid md:grid-cols-4 gap-5 px-4 md:px-0">
      <%- include('mini/service-card',{
        src : "https://img.icons8.com/external-flaticons-flat-flat-icons/100/000000/external-mri-plastic-surgery-flaticons-flat-flat-icons-2.png",
        name : "Machine",
        description : `Siemens Mammomat Inspiration (FFDM) - 2D and 3D - with Tomosynthesis as well as facilities for Stereotactic Biopsy.`,
      }) %>

      <%- include('mini/service-card',{
        src : "https://img.icons8.com/color/100/000000/clock--v1.png",
        name : "Time Takes",
        description : `30 Min.`,
      }) %>


      <%- include('mini/service-card',{
        src : "https://img.icons8.com/fluency/100/000000/medical-doctor.png",
        name : "Primary Expert",
        description : `Dr. Darshan Jain.`,
      }) %>

      <%- include('mini/service-card',{
        src : "https://img.icons8.com/stickers/100/000000/health-calendar.png",
        name : "Appointment",
        description : `Required.`,
      }) %>

      <%- include('mini/service-card',{
        src : "https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/66/000000/external-medical-report-medical-smashingstocks-flat-smashing-stocks-2.png",
        name : "Report Given",
        description : `Next day.`,
      }) %>

      <%- include('mini/service-card',{
        src : "https://img.icons8.com/cute-clipart/64/000000/user-manual.png",
        name : "Preparation/Instructions",
        description : `Not required.`,
      }) %>
    </div>
  </section>
</main>