---
{
"title" : "About Mahavir Diagnostic Centre & Interventional Radiology Clinic"
}
---

<main>
  <div class="py-32 bg-gradient-to-b from-white to bg-primary-100 [clip-path:polygon(0_0,100%_0,100%_90%,0_100%);]">
    <h1 class="font-bold md:text-4xl text-3xl text-center">About Us</h1>
  </div>
  <section class="theame-container py-4 mt-10 overflow-hidden">
    <div class="grid space-y-5 md:grid-cols-2 md:space-y-0">
      <div class="space-y-3">
        <h2 class="text-2xl font-bold text-primary-500">About Mahavir Diagnostic Centre & Interventional Radiology
          Clinic</h2>
        <p class="!mt-5">
          Mahavir Diagnostic Centre & Interventional Radiology Clinic is a centre run by Jain doctors with latest
          diagnostic equipment that offers radiology services managed and headed by radiologist & pathologist who report
          the scans blood tests themselves and interact with you AND YOUR DOCTOR to facilitate quick treatment and
          management.
        </p>
        <p>
          Being a centre owned and run by the doctor themselves they know the importance of accurate and fast diagnosis
          with quick reports to the patient. As regards to corporate our work is ethical and focussed entirely on
          providing optimal diagnosis with sympathy towards our patient.
        </p>
        <p>
          Here the patients get opportunity to interact and discuss the reports with the doctors for clearer insight
          regarding their illness.
        </p>
      </div>
      <div class="h-full flex justify-center items-center">
        <img src="<%- page.srcfix %>img/mahavir-diagnostic-centre-logo.png" alt=""
          class="rounded-3xl w-full max-w-sm mx-auto shadow-xl">
      </div>
    </div>
  </section>
  <section class="theame-container py-4 mt-10 overflow-hidden">
    <div class="grid space-y-5 md:grid-cols-2 md:space-y-0">
      <div>
        <img src="<%- page.srcfix %>img/dr-darshan-jain.jpg" alt=""
          class="rounded-3xl w-full max-w-sm mx-auto shadow-xl">
        <p class="max-w-sm mx-auto text-center text-primary-600 font-bold mt-2 text-xl">Dr. Darshan Jain</p>
        <p class="max-w-sm mx-auto text-center text-primary-400">Interventional Radiologist</p>
      </div>
      <div class="space-y-3">
        <h2 class="text-2xl font-bold text-primary-500">About Dr. Darshan Jain</h2>
        <p class="!mt-5">
          Dr. Darshan Jain is an Interventional Radiologist trained from one of India's premier and reputed institute,
          Tata Cancer Hospital, Mumbai. Here he learnt intricacies of cancer interventions. He further enhanced his
          expertise in Peripheral interventions, Aortic interventions, Neurointerventions and hepatic interventions like
          TIPPS, Hepatic vein stenting. He has worked as Full-time interventional radiologist in Jaslok Hospital,
          Mumbai. Now he has experience of 15yrs in Interventional Radiology which includes 8 years of exclusive full
          time Interventional Radiology practise.
        </p>
        <p>
          Dr. Darshan Jain has worked in other reputed hospitals like Nair Hospital Mumbai where he has completed his
          post-graduation after securing his admission through all India entrance exam. Bombay Hospital, Jupiter
          hospital, Wockhardt hospital, Raheja Hospital and various other hospitals in Mumbai.
        </p>
        <p>
          In view of his expertise and excellent results he is also called from outside Mumbai hospital for cases.
        </p>
        <p class="flex flex-row w-full flex-wrap gap-8 justify-center">
          <img src="<%- page.srcfix %>img/acl-hospital.png" alt="" class="w-32">
          <img src="<%- page.srcfix %>img/apollo-spectra-hospital.png" alt="" class="w-32">
          <img src="<%- page.srcfix %>img/bhatia-hospital.png" alt="" class="w-32">
          <img src="<%- page.srcfix %>img/criti-care.png" alt="" class="w-32">
          <img src="<%- page.srcfix %>img/hcg.png" alt="" class="w-32">
          <img src="<%- page.srcfix %>img/masina-hospital.jpg" alt="" class="w-32">
          <img src="<%- page.srcfix %>img/wockhardt-hospital.png" alt="" class="w-32">
        </p>
      </div>
    </div>
  </section>
  <section class="theame-container py-4 mt-10 overflow-hidden">
    <div class="grid space-y-5 md:grid-cols-2 md:space-y-0">
      <div class="space-y-3">
        <h2 class="text-2xl font-bold text-primary-500">About Dr. Cheeni Jain </h2>
        <p class="!mt-5">
          Dr Cheeni Jain is qualified consultant pathologist trained from one of India's finest NABH ACCREDITED CANCER
          INSTITUTE GEETANJALI MEDICALCOLLEGE AND HOSPITAL Udaipur Rajasthan. She has mastered all aspects of clinical
          pathology, Hematology, hematoonco pathology, Histopathology, Cyto pathology, biochemistry, serology,
          immunology, microbiology and blood bank.
        </p>
        </p>
          She has experience of working in state of art reputed govt hospital of Mumbai (TNMC AND BYL Nair Charitable
          Hospital) in clinical hematology department and has gained expertise in bone Marrow aspiration biopsy
          procedures & chemotherapy treatment of patients of blood disorders.
          She has delivered multiple talks, presented papers and posters in CME and conferences all over the India. She
          is very active in research work. Her papers and posters were published in top ranked national and
          international journals.
        </p>
        <p>
          Her vision is to help the poor and needy people to the best of her abilities. She believes in doing charity
          for poor people. She wants to serve the society by giving her best services and expertise.
        </p>
      </div>
      <div>
        <img src="<%- page.srcfix %>img/dr-cheeni-jain.jpg" alt="" class="rounded-3xl w-full max-w-sm mx-auto shadow-xl">
        <p class="max-w-sm mx-auto text-center text-primary-600 font-bold mt-2 text-xl">Dr. Cheeni Jain</p>
        <p class="max-w-sm mx-auto text-center text-primary-400">Radiologist</p>
      </div>
    </div>
  </section>
</main>