<footer class="bg-amber-600 text-white">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row px-6 md:px-12 py-10 justify-between text-xl space-y-10 md:space-y-0">
      <section style="flex: 2;" class="space-y-5 flex flex-col justify-center">
        <img src="<%- page.srcfix %>img/mahavir-diagnostic-centre-logo.png" class="w-3/4" alt="Mahavir Diagnostic Centre logo">
        <p class="font-semibold">Mahavir Diagnostic Centre & Interventional Radiology Clinic</p>
        <p class="inline-flex space-x-4 text-2xl"><i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter"></i></p>
      </section>
      <section style="flex: 2;" class="space-y-5">
        <p class="font-bold">Services</p>
        <div class="text-sm space-y-1.5">
          <a class="block hover:text-amber-900 font-semibold" href=""><i class="fal fa-angle-right mr-1.5 font-bold"></i>ALL TYPES OF ULTRASONOGRAPHIES & DOPPLER</a>
          <a class="block hover:text-amber-900 font-semibold" href=""><i class="fal fa-angle-right mr-1.5 font-bold"></i>ALL TYPES OF DIGITAL XRAY</a>
          <a class="block hover:text-amber-900 font-semibold" href=""><i class="fal fa-angle-right mr-1.5 font-bold"></i>ALL TYPES OF COMPUTERISED BLOOD AND OTHER TESTS</a>
          <a class="block hover:text-amber-900 font-semibold" href=""><i class="fal fa-angle-right mr-1.5 font-bold"></i>2D ECHO</a>
          <a class="block hover:text-amber-900 font-semibold" href=""><i class="fal fa-angle-right mr-1.5 font-bold"></i>ECG</a>
        </div>
      </section>
      <section style="flex: 2;" class="space-y-5">
        <p class="font-bold">Quick Links</p>
        <div class="text-sm space-y-1.5">
          <a class="block hover:text-amber-900 font-semibold" href="<%- page.srcfix %>about"><i class="fal fa-angle-right mr-1.5 font-bold"></i>About</a>
          <a class="block hover:text-amber-900 font-semibold" href="<%- page.srcfix %>gallery"><i class="fal fa-angle-right mr-1.5 font-bold"></i>Gallery</a>
          <a class="block hover:text-amber-900 font-semibold" href="<%- page.srcfix %>careers"><i class="fal fa-angle-right mr-1.5 font-bold"></i>Careers</a>
          <a class="block hover:text-amber-900 font-semibold" href="<%- page.srcfix %>contact"><i class="fal fa-angle-right mr-1.5 font-bold"></i>Contact</a>
        </div>
      </section>
      <div style="flex: 2;" class="space-y-5">
        <p class="font-bold">Get in touch</p>
        <address class="text-sm space-y-1.5 not-italic font-semibold">
          <p><i class="fas fa-building mr-1.5"></i>
            98, Laxmi Building, Ardeshir Dadi Street, Charni Road East, CP Tank, Near Chandaramji School, Mumbai-400 004.
          </p>
          <a href="mailto:mahavir.diagnostic22@gmail.com" class="block hover:text-amber-900" href=""><i
              class="fas fa-envelope mr-1.5"></i>mahavir.diagnostic22@gmail.com</a>
          <a href="tel:+918356044344" class="block hover:text-amber-900" href=""><i
              class="fas fa-phone-alt mr-1.5"></i>+91 83560 44344</a>
        </address>
      </div>
    </div>
  </div>
  <div class="bg-amber-700"><p class="text-center containter font-semibold text-sm py-2 px-6">Copyright © 2022 Mahavir Diagnostic Centre and Interventional Radiology Clinic.</p></div>
</footer>