<header x-data="{ open: false }" id="navbar" class="fixed bg-white top-0 z-10 w-full border-b-2 border-b-indigo-500">
  <div class="px-4 container md:px-8 mx-auto w-full flex items-center justify-between">
    <a class="text-3xl font-bold py-1 font-sans" href="<%- page.srcfix %>">
      <img src="<%- page.srcfix %>img/logo.png" class="h-[44px]" alt="">
    </a>
    <div class="hidden md:flex whitespace-nowrap">
      <% navdata.forEach(navitem => { %>
        <% if(typeof(navitem[1]) == 'object') { %>
        <span
          class="relative group cursor-pointer py-4 px-5 text-sm block border-b-2 border-b-transparent transition-all duration-300 font-semibold ease-in-out hover: hover:border-b-indigo-500 hover:bg-indigo-100">
          <p class="group-hover:text-indigo-600 uppercase"><%- navitem[0] %></p>
          <span
            class="absolute top-full min-w-full left-0 divide-y mt-0.5 group-hover:block hidden bg-white rounded-b-lg font-normal overflow-hidden">
            <% navitem[1].forEach(subnav => { %>
            <a href="<%- page.srcfix + subnav[1] %>"
              class="px-6 hover:text-indigo-600 hover:bg-indigo-100 py-2 block"><%- subnav[0] %></a>
            <% }) %>
          </span>
        </span>
        <% } else { %>
          <a class="uppercase py-4 px-5 text-sm block border-b-2 border-b-transparent transition-all duration-300 font-semibold ease-in-out hover:text-indigo-600 hover:border-b-indigo-500 hover:bg-indigo-100"
            href="<%- page.srcfix + navitem[1]  %>"><%- navitem[0] %></a>
        <% } %>
      <% }) %>
    </div>
    <div @click="open = !open" class="md:hidden aspect-square p-2 my-2 border flex items-center justify-center rounded">
      <i class="fal fa-bars"></i>
    </div>
    <div @click.away="open = false" x-show="open" x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 translate-y-full" x-transition:enter-end="opacity-100 translate-y-0"
      x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 translate-y-0"
      x-transition:leave-end="opacity-0 translate-y-full" class="absolute top-full mt-2 left-0 w-full px-2">
      <div class="bg-white border flex flex-col px-2 divide-y rounded">
        <% navdata.forEach(navitem => { %>
          <% if(typeof(navitem[1]) == 'object') { %>
            <span x-data="{ opensubnav : false }" class="py-2 px-2">
              <span @click="opensubnav = !opensubnav" class="flex items-baseline justify-between"><%- navitem[0] %><i :class="opensubnav?'fa-minus':'fa-plus'" class="fal"></i></span>
              <div x-show="opensubnav" class="flex flex-col divide-y border-t mt-2">
                <% navitem[1].forEach(subnav => { %>
                  <a class="py-2 ml-3" href="<%- page.srcfix + subnav[1] %>"><%- subnav[0] %></a>
                <% }) %>
              </div>
            </span>
          <% } else { %>
            <a class="py-2 px-2 capitalize" href="<%- page.srcfix + navitem[1] %>"><%- navitem[0] %></a>
          <% } %>
        <% }) %>
      </div>
    </div>
  </div>
</header>
<div id="navHeightFix"></div>