<header class="flex flex-row justify-center items-center space-x-4 my-4">
  <a href="index.html">
    <img src="<%- page.srcfix %>/img/mahavir-diagnostic-centre-logo.png" alt="Mahavir Diagnostic Centre Logo" class="w-16 md:w-32 lg:w-40">
  </a>
  <h1 class="lg:inline font-bold text-xs md:text-xl text-center">
    <a href="index.html">Mahavir Diagnostic Centre &<br> Interventional Radiology Clinic</a>
  </h1>
</header>
<nav class="bg-primary-500 flex flex-col justify-center relative">
  <div class="md:hidden menu-toggle flex flex-col items-center cursor-pointer py-2">
    <div class="bg-white w-8 h-1 my-1 bar1 origin-top-right transition-all duration-300"></div>
    <div class="bg-white w-8 h-1 my-1 bar2 transition-all duration-300"></div>
    <div class="bg-white w-8 h-1 my-1 bar3 origin-bottom-right transition-all duration-300"></div>
  </div>
  <ul class="menu overflow-hidden h-0 md:h-auto flex flex-col md:flex-row justify-center pl-8 md:pl-0 md:space-x-16 text-sm md:text-base">
    <li class="py-3 md:py-5 text-white font-semibold"><a href="<%- page.srcfix %>">Home</a></li>
    <li class="py-3 md:py-5 text-white font-semibold"><a href="<%- page.srcfix %>about">About</a></li>
    <li class="py-3 md:py-5 text-white font-semibold"><a>Services</a></li>
    <li class="py-3 md:py-5 text-white font-semibold"><a href="<%- page.srcfix %>gallery">Gallery</a></li>
    <li class="py-3 md:py-5 text-white font-semibold"><a href="<%- page.srcfix %>careers">Careers</a></li>
    <li class="py-3 md:py-5 text-white font-semibold"><a href="<%- page.srcfix %>contact">Contact</a></li>
  </ul>
  <span class="transition-all duration-200 border-b-0 opacity-0 border-solid border-white absolute top-full left-0 underline hidden md:inline">
  </span>
</nav>